body{
  background: linear-gradient(135deg,#e3eef7, #f8f8f9, #f8f8f9);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 70px; /* height of navbar */
}


.horizontal-line {
  height: 6px; /* Increased thickness */
  background-color: #11446c;
  margin: 20px 0;
}

.section-title{
  color: #166370;
}
 .section-title a{
  color: #11446c;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

.left-line {
  border-left: 5px solid #11446c; /* matches your card title blue */
}
.project-card {
  background: linear-gradient(135deg,#e3eef7, #f8f8f9, #f8f8f9);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  overflow: hidden; /* ensures clean edges */
  border: none;
  height: 270px; /* adjust as per need */
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.project-card .card-title {
  margin-top: 30px;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  color: #11446c; /* matches the blue in your sample */
  margin-bottom: 1.5rem;
}

.project-card .card-subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  color: #63726b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
  margin-bottom: 1rem;
}

.project-card .card-text {
  font-size: 0.7rem;
  color: #646363;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
  margin-bottom: 1rem;
}


.project-card img.project-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.project-card .btn {
  font-size: 0.8rem;
  padding: 5px 14px;
  border-radius: 6px;
  background: #11446c;
  border: none;
  color: white;
  font-weight: 500;
  margin-top: auto;
}

.project-card .btn:hover {
  background: white;
  color: #11446c;
}

/* Ensure max 2 cards per row */
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
