body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  
}

.intro {
  max-width: 800px;
  margin: auto;
}

.card img {
  object-fit: cover;
  height: 180px;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05); /* Slight zoom */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

footer{
  background-color: #114461;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.julogo{
  width:40px ;
  height: 40px;
}